# **ETL**

## Objectives

* Extraction, Transformation of raw dataset and loading of cleaned dataset

## Inputs

* Initial input will be the asteroid dataset downloaded for kaggle. As this is a very large dataset I will be working with a much smaller subset, though still substantial at around 50000 lines. 

## Outputs

* The output will be a cleaned and encoded file - this will involve dropping a number of fields, for instance id fields, cleaning missing values where necessary and encoding variables. 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\mikee\\Desktop\\CapstonePreparation\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\mikee\\Desktop\\CapstonePreparation'

# Extraction

### Import Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

As tne dataset is very large I will first subset a random selection and save this to a csv file. The original dataset will be included in gitignore as it will be too large to push to github.

In [9]:
#save a random subset of Asteroid_Dataset to a new csv file
# df = pd.read_csv('data/Raw/Asteroid_Dataset.csv')
# df_sample = df.sample(frac=0.05, random_state=101)
# df_sample.to_csv('data/Raw/Asteroid_Sample_Dataset.csv', index=False)
#Commented out after first run as it will be unnecessary to run again

Next create a dataframe with the raw sample

In [8]:
#load the sample dataset
df = pd.read_csv('data/Raw/Asteroid_Sample_Dataset.csv')
df.head(), df.shape

(         id    spkid            full_name        pdes name prefix neo pha  \
 0  a0346924  2346924   346924 (2009 YR22)      346924  NaN    NaN   N   N
 1  bK04VD6H  3995840         (2004 VH136)  2004 VH136  NaN    NaN   N   N
 2  a0140610  2140610    140610 (2001 UG5)      140610  NaN    NaN   N   N
 3  bK14D43M  3666578          (2014 DM43)   2014 DM43  NaN    NaN   N   N
 4  bK15H45T  3853059          (2015 HT45)   2015 HT45  NaN    NaN   N   N

         H  diameter  ...   sigma_i  sigma_om   sigma_w  sigma_ma  \
 0  18.100       NaN  ...  0.000008  0.000129  0.000133  0.000025
 1  16.982       NaN  ...  0.000011  0.000032  0.000049  0.000037
 2  15.200     2.892  ...  0.000006  0.000008  0.000013  0.000009
 3  18.492       NaN  ...  0.005861  0.001193  0.344360  0.670270
 4  18.500       NaN  ...  0.000011  0.000095  0.000114  0.000072

        sigma_ad       sigma_n  sigma_tp  sigma_per  class      rms
 0  2.108900e-08  3.548600e-09  0.000088   0.000015    MBA  0.54865
 1  4.744300e-08  5.162200e-09  0.000167   0.000037    MBA  0.56091
 2  9.391800e-09  1.339400e-09  0.000032   0.000006    MBA  0.46366
 3  1.174200e-03  1.784800e-04  2.769600   0.886620    MBA  0.53981
 4  5.801900e-08  9.637000e-09  0.000241   0.000041    MBA  0.66757

 [5 rows x 45 columns],
 (47926, 45))

In [10]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47926 entries, 0 to 47925
Data columns (total 45 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              47926 non-null  object
 1   spkid           47926 non-null  int64
 2   full_name       47926 non-null  object
 3   pdes            47926 non-null  object
 4   name            1042 non-null   object
 5   prefix          4 non-null      object
 6   neo             47926 non-null  object
 7   pha             46941 non-null  object
 8   H               47636 non-null  float64
 9   diameter        6742 non-null   float64
 10  albedo          6685 non-null   float64
 11  diameter_sigma  6737 non-null   float64
 12  orbit_id        47926 non-null  object
 13  epoch           47926 non-null  float64
 14  epoch_mjd       47926 non-null  int64
 15  epoch_cal       47926 non-null  float64
 16  equinox         47926 non-null  object
 17  e               47926 non-null  float64
 18  a               47926 non-null  float64
 19  q               47926 non-null  float64
 20  i               47926 non-null  float64
 21  om              47926 non-null  float64
 22  w               47926 non-null  float64
 23  ma              47926 non-null  float64
 24  ad              47926 non-null  float64
 25  n               47926 non-null  float64
 26  tp              47926 non-null  float64
 27  tp_cal          47926 non-null  float64
 28  per             47926 non-null  float64
 29  per_y           47926 non-null  float64
 30  moid            46941 non-null  float64
 31  moid_ld         47923 non-null  float64
 32  sigma_e         46941 non-null  float64
 33  sigma_a         46941 non-null  float64
 34  sigma_q         46941 non-null  float64
 35  sigma_i         46941 non-null  float64
 36  sigma_om        46941 non-null  float64
 37  sigma_w         46941 non-null  float64
 38  sigma_ma        46941 non-null  float64
 39  sigma_ad        46941 non-null  float64
 40  sigma_n         46941 non-null  float64
 41  sigma_tp        46941 non-null  float64
 42  sigma_per       46941 non-null  float64
 43  class           47926 non-null  object
 44  rms             47926 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 16.5+ MB

,spkid,H,diameter,albedo,diameter_sigma,epoch,epoch_mjd,epoch_cal,e,a,...,sigma_q,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,rms
count,4.792600e+04,47636.000000,6742.000000,6685.000000,6737.000000,4.792600e+04,47926.000000,4.792600e+04,47926.000000,47926.000000,...,4.694100e+04,4.694100e+04,4.694100e+04,4.694100e+04,4.694100e+04,4.694100e+04,4.694100e+04,4.694100e+04,4.694100e+04,47926.000000
mean,3.818407e+06,16.902491,5.539240,0.131158,0.473669,2.458873e+06,58872.379856,2.019702e+07,0.156213,2.930959,...,2.920377e+01,7.874790e-01,2.028642e+00,9.242224e+05,9.240442e+05,2.563852e+01,2.843790e-02,2.632409e+08,7.012078e+04,0.558041
std,6.864509e+06,1.770130,10.230165,0.110567,0.478214,6.884447e+02,688.444678,1.893336e+04,0.093042,9.846160,...,4.307123e+03,6.832666e+01,6.835221e+01,1.501215e+08,1.500953e+08,4.280933e+03,8.811618e-01,4.284120e+10,1.105239e+07,0.103558
min,2.000004e+06,3.000000,0.008000,0.001000,0.001000,2.448566e+06,48565.000000,1.991110e+07,0.000017,0.555418,...,1.928600e-09,2.170600e-07,3.880800e-07,1.789300e-07,9.522600e-07,5.403800e-10,8.231100e-11,1.683700e-06,2.638400e-07,0.003510
25%,2.239225e+06,16.000000,2.783000,0.053000,0.180000,2.459000e+06,59000.000000,2.020053e+07,0.091853,2.390434,...,1.465800e-07,6.087700e-06,3.635700e-05,5.753400e-05,2.577900e-05,2.352800e-08,2.773800e-09,1.113200e-04,1.808300e-05,0.517850
50%,2.479192e+06,16.900000,4.017500,0.079000,0.331000,2.459000e+06,59000.000000,2.020053e+07,0.145279,2.647835,...,2.259800e-07,8.680900e-06,6.646700e-05,1.050800e-04,4.897400e-05,4.327900e-08,4.636700e-09,2.218100e-04,3.472100e-05,0.566290
75%,3.750910e+06,17.711250,5.812750,0.191000,0.625000,2.459000e+06,59000.000000,2.020053e+07,0.200672,2.997342,...,6.399300e-07,1.581500e-05,1.612700e-04,3.036200e-04,1.652300e-04,1.166100e-07,1.095300e-08,7.801900e-04,9.561100e-05,0.613357
max,5.401723e+07,30.900000,525.400000,1.000000,9.900000,2.459000e+06,59000.000000,2.020053e+07,0.997396,1711.799446,...,8.657000e+05,1.391700e+04,7.240900e+03,3.084600e+10,3.084000e+10,9.192700e+05,1.017200e+02,8.829900e+12,2.357800e+09,2.653000

In [11]:
df.isna().sum()

id                    0
spkid                 0
full_name             0
pdes                  0
name              46884
prefix            47922
neo                   0
pha                 985
H                   290
diameter          41184
albedo            41241
diameter_sigma    41189
orbit_id              0
epoch                 0
epoch_mjd             0
epoch_cal             0
equinox               0
e                     0
a                     0
q                     0
i                     0
om                    0
w                     0
ma                    0
ad                    0
n                     0
tp                    0
tp_cal                0
per                   0
per_y                 0
moid                985
moid_ld               3
sigma_e             985
sigma_a             985
sigma_q             985
sigma_i             985
sigma_om            985
sigma_w             985
sigma_ma            985
sigma_ad            985
sigma_n             985
sigma_tp            985
sigma_per           985
class                 0
rms                   0
dtype: int64

In [12]:
df["pha"].value_counts()

pha
N    46828
Y      113
Name: count, dtype: int64

In [13]:
df["neo"].value_counts()

neo
N    46794
Y     1132
Name: count, dtype: int64

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [7]:
# import os
# try:
#   # create your folder here
#   # os.makedirs(name='')
# except Exception as e:
#   print(e)