# **ETL**

## Objectives

* Extraction, Transformation of raw dataset and loading of cleaned dataset

## Inputs

* Initial input will be the asteroid dataset downloaded for kaggle. As this is a very large dataset I will be working with a much smaller subset, though still substantial at around 50000 lines. 

## Outputs

* The output will be a cleaned and encoded file - this will involve dropping a number of fields, for instance id fields, cleaning missing values where necessary and encoding variables. 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\mikee\\Desktop\\CapstonePreparation\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\mikee\\Desktop\\CapstonePreparation'

# Extraction

### Import Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import warnings
import warnings
warnings.filterwarnings('ignore')

As the dataset is very large I will first subset a random selection and save this to a csv file. The original dataset will be included in gitignore as it will be too large to push to github.

In [7]:
#save a random subset of Asteroid_Dataset to a new csv file
df = pd.read_csv('data/Raw/Asteroid_Dataset.csv')
df.shape, df.head()
# df_sample = df.sample(frac=0.1, random_state=101)
# df_sample.to_csv('data/Raw/Asteroid_Sample_Dataset.csv', index=False)
# Commented out after first run as it will be unnecessary to run again

((958524, 45),
          id    spkid       full_name pdes     name prefix neo pha     H  \
 0  a0000001  2000001         1 Ceres    1    Ceres    NaN   N   N  3.40
 1  a0000002  2000002        2 Pallas    2   Pallas    NaN   N   N  4.20
 2  a0000003  2000003          3 Juno    3     Juno    NaN   N   N  5.33
 3  a0000004  2000004         4 Vesta    4    Vesta    NaN   N   N  3.00
 4  a0000005  2000005       5 Astraea    5  Astraea    NaN   N   N  6.90

    diameter  ...       sigma_i      sigma_om       sigma_w      sigma_ma  \
 0   939.400  ...  4.608900e-09  6.168800e-08  6.624800e-08  7.820700e-09
 1   545.000  ...  3.469400e-06  6.272400e-06  9.128200e-06  8.859100e-06
 2   246.596  ...  3.223100e-06  1.664600e-05  1.772100e-05  8.110400e-06
 3   525.400  ...  2.170600e-07  3.880800e-07  1.789300e-07  1.206800e-06
 4   106.699  ...  2.740800e-06  2.894900e-05  2.984200e-05  8.303800e-06

        sigma_ad       sigma_n      sigma_tp     sigma_per  class      rms
 0  1.111300e-11  1.196500e-12  3.782900e-08  9.415900e-09    MBA  0.43301
 1  4.961300e-09  4.653600e-10  4.078700e-05  3.680700e-06    MBA  0.35936
 2  4.363900e-09  4.413400e-10  3.528800e-05  3.107200e-06    MBA  0.33848
 3  1.648600e-09  2.612500e-10  4.103700e-06  1.274900e-06    MBA  0.39980
 4  4.729000e-09  5.522700e-10  3.474300e-05  3.490500e-06    MBA  0.52191

 [5 rows x 45 columns])

Next create a dataframe with the raw sample

In [ ]:
#load the sample dataset
# df = pd.read_csv('data/Raw/Asteroid_Sample_Dataset.csv')
# df.head(), df.shape

In [8]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB

,spkid,H,diameter,albedo,diameter_sigma,epoch,epoch_mjd,epoch_cal,e,a,...,sigma_q,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,rms
count,9.585240e+05,952261.000000,136209.000000,135103.000000,136081.000000,9.585240e+05,958524.000000,9.585240e+05,958524.000000,958524.000000,...,9.386020e+05,9.386020e+05,9.386020e+05,9.386020e+05,9.386020e+05,9.385980e+05,9.386020e+05,9.386020e+05,9.385980e+05,958522.000000
mean,3.810114e+06,16.906411,5.506429,0.130627,0.479184,2.458869e+06,58868.781950,2.019693e+07,0.156116,2.902143,...,1.982929e+01,1.168449e+00,5.310234e+00,1.370062e+06,1.369977e+06,2.131453e+01,5.060221e-02,4.312780e+08,8.525815e+04,0.561153
std,6.831541e+06,1.790405,9.425164,0.110323,0.782895,7.016716e+02,701.671573,1.930354e+04,0.092643,39.719503,...,2.903785e+03,1.282231e+02,1.333381e+03,9.158996e+08,9.158991e+08,7.197034e+03,9.814953e+00,2.953046e+11,2.767681e+07,2.745700
min,2.000001e+06,-1.100000,0.002500,0.001000,0.000500,2.425052e+06,25051.000000,1.927062e+07,0.000000,-14702.447872,...,1.956900e-11,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,0.000000
25%,2.239632e+06,16.100000,2.780000,0.053000,0.180000,2.459000e+06,59000.000000,2.020053e+07,0.092193,2.387835,...,1.462000e-07,6.095900e-06,3.619400e-05,5.755000e-05,2.573700e-05,2.340900e-08,2.768800e-09,1.110900e-04,1.794500e-05,0.518040
50%,2.479262e+06,16.900000,3.972000,0.079000,0.332000,2.459000e+06,59000.000000,2.020053e+07,0.145002,2.646969,...,2.271900e-07,8.688800e-06,6.642550e-05,1.047100e-04,4.900100e-05,4.359000e-08,4.638000e-09,2.230800e-04,3.501700e-05,0.566280
75%,3.752518e+06,17.714000,5.765000,0.190000,0.620000,2.459000e+06,59000.000000,2.020053e+07,0.200650,3.001932,...,6.583200e-07,1.591500e-05,1.609775e-04,3.114400e-04,1.718900e-04,1.196600e-07,1.124000e-08,8.139600e-04,9.775475e-05,0.613927
max,5.401723e+07,33.200000,939.400000,1.000000,140.000000,2.459000e+06,59000.000000,2.020053e+07,1.855356,33488.895955,...,1.015000e+06,5.533000e+04,1.199100e+06,8.845100e+11,8.845100e+11,5.509700e+06,7.698800e+03,2.853100e+14,1.910700e+10,2686.600000

As can be seen from the table below there are a great many missing values, particularly for name, prefix, diameter, albedo and diameter_sigma. 
* Name and prefix are id fields (as are id, spkid, full_name and pdes) and these columns can safely be dropped.
* diameter, albedo and diameter_sigma are fields which may be of importance in reaching conclusions regarding the project hypotheses and I will discuss my rationale for dealing with these columns below.

In [9]:
df.isna().sum()

id                     0
spkid                  0
full_name              0
pdes                   0
name              936460
prefix            958506
neo                    4
pha                19921
H                   6263
diameter          822315
albedo            823421
diameter_sigma    822443
orbit_id               0
epoch                  0
epoch_mjd              0
epoch_cal              0
equinox                0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     1
ad                     4
n                      0
tp                     0
tp_cal                 0
per                    4
per_y                  1
moid               19921
moid_ld              127
sigma_e            19922
sigma_a            19922
sigma_q            19922
sigma_i            19922
sigma_om           19922
sigma_w            19922
sigma_ma           19922
sigma_ad           19926
sigma_n            19922
sigma_tp           19922
sigma_per          19926
class                  0
rms                    2
dtype: int64

In [ ]:
# Check the distribution of PHA (Potentially Hazardous Asteroids)
df["pha"].value_counts()

pha
N    936537
Y      2066
Name: count, dtype: int64

In [ ]:
# Check the distribution of NEO (Near Earth Objects)
df["neo"].value_counts()

neo
N    935625
Y     22895
Name: count, dtype: int64

As the initial dataset is extremely large (far too big to push to github) I will split it into several smaller csv files for reference purposes.

In [13]:
#save Asteroid_Dataset in chunks of 100,000 rows to separate csv files
# data = pd.read_csv('data/Raw/Asteroid_Dataset.csv', chunksize=100000)
# for i, chunk in enumerate(data):
#     chunk.to_csv(f'data/Raw/Asteroid_Dataset_chunk_{i}.csv', index=False)
#commented out after first run as it will be unnecessary to run again

---

# Transformation

As mentioned above there are a number of id fields which can safely be dropped from the project as they will not be of importance.

In [14]:
df = df.drop(columns=['name', 'prefix', 'id', 'spkid', 'full_name', 'pdes'])
df.shape, df.head()

((958524, 39),
   neo pha     H  diameter  albedo  diameter_sigma orbit_id      epoch  \
 0   N   N  3.40   939.400  0.0900           0.200   JPL 47  2458600.5
 1   N   N  4.20   545.000  0.1010          18.000   JPL 37  2459000.5
 2   N   N  5.33   246.596  0.2140          10.594  JPL 112  2459000.5
 3   N   N  3.00   525.400  0.4228           0.200   JPL 35  2458600.5
 4   N   N  6.90   106.699  0.2740           3.140  JPL 114  2459000.5

    epoch_mjd   epoch_cal  ...       sigma_i      sigma_om       sigma_w  \
 0      58600  20190427.0  ...  4.608900e-09  6.168800e-08  6.624800e-08
 1      59000  20200531.0  ...  3.469400e-06  6.272400e-06  9.128200e-06
 2      59000  20200531.0  ...  3.223100e-06  1.664600e-05  1.772100e-05
 3      58600  20190427.0  ...  2.170600e-07  3.880800e-07  1.789300e-07
 4      59000  20200531.0  ...  2.740800e-06  2.894900e-05  2.984200e-05

        sigma_ma      sigma_ad       sigma_n      sigma_tp     sigma_per  \
 0  7.820700e-09  1.111300e-11  1.196500e-12  3.782900e-08  9.415900e-09
 1  8.859100e-06  4.961300e-09  4.653600e-10  4.078700e-05  3.680700e-06
 2  8.110400e-06  4.363900e-09  4.413400e-10  3.528800e-05  3.107200e-06
 3  1.206800e-06  1.648600e-09  2.612500e-10  4.103700e-06  1.274900e-06
 4  8.303800e-06  4.729000e-09  5.522700e-10  3.474300e-05  3.490500e-06

    class      rms
 0    MBA  0.43301
 1    MBA  0.35936
 2    MBA  0.33848
 3    MBA  0.39980
 4    MBA  0.52191

 [5 rows x 39 columns])

### Data Cleaning Rationale: Handling Missing Values

As mentioned many missing values were found in the albedo, diameter, and diameter_sigma columns. These parameters are generally available for well-studied, near-Earth asteroids but are often missing for distant, faint main-belt objects (MBA). Since the goal of this project is to build a classification model to predict whether an asteroid is potentially hazardous, the focus is naturally on well-observed objects that have sufficient physical and orbital data available.

For this reason, rows with missing values in albedo or diameter were removed rather than imputed. This decision was taken to simplify the preprocessing pipeline and avoids introducing artificial or uncertain values that might bias the model. Moreover, potentially hazardous asteroids and are typically well-characterized, so removing entries with missing data is unlikely to distort the distribution of the target class.

Alternatively more advanced imputation methods—such as estimating diameters from absolute magnitude and albedo relationships — could be implemented to expand the dataset and explore model robustness. However, for the purposes of this project, a clean and well-defined subset of complete observations provides a reliable foundation for model training and evaluation.

In [24]:
#drop missing values for albedo, diameter, diameter_sigma except where pha is True or neo is True
df_clean = df.dropna(subset=['albedo', 'diameter', 'diameter_sigma'])
df_clean.shape, df_clean.isna().sum() 
df_clean.describe().T

,count,mean,std,min,25%,50%,75%,max
H,131142.0,1.512446e+01,1.380864,3.000000e+00,1.440000e+01,1.520000e+01,1.600000e+01,2.750000e+01
diameter,135005.0,5.505384e+00,9.287329,8.000000e-03,2.788000e+00,3.987000e+00,5.783000e+00,9.394000e+02
albedo,135005.0,1.305801e-01,0.110279,1.000000e-03,5.300000e-02,7.900000e-02,1.900000e-01,1.000000e+00
diameter_sigma,135005.0,4.786036e-01,0.785222,1.000000e-03,1.800000e-01,3.320000e-01,6.190000e-01,1.400000e+02
epoch,135005.0,2.458890e+06,627.670498,2.452464e+06,2.459000e+06,2.459000e+06,2.459000e+06,2.459000e+06
epoch_mjd,135005.0,5.888949e+04,627.670498,5.246400e+04,5.900000e+04,5.900000e+04,5.900000e+04,5.900000e+04
epoch_cal,135005.0,2.019752e+07,17080.368965,2.002071e+07,2.020053e+07,2.020053e+07,2.020053e+07,2.020053e+07
e,135005.0,1.453962e-01,0.076736,6.025354e-05,8.988737e-02,1.388617e-01,1.910117e-01,9.837890e-01
a,135005.0,2.819851e+00,1.501547,6.262100e-01,2.543295e+00,2.754812e+00,3.094828e+00,3.761333e+02
q,135005.0,2.407286e+00,0.516032,8.181996e-02,2.072772e+00,2.368776e+00,2.688520e+00,4.031848e+01
i,135005.0,1.025542e+01,6.786362,2.205649e-02,5.068957e+00,9.302208e+00,1.362608e+01,1.703346e+02
om,135005.0,1.697262e+02,102.721278,4.184155e-04,8.222588e+01,1.603728e+02,2.559604e+02,3.599998e+02
w,135005.0,1.817644e+02,103.509257,1.299944e-04,9.188113e+01,1.834284e+02,2.715559e+02,3.599981e+02
ma,135005.0,1.844837e+02,105.557356,6.017576e-03,9.171935e+01,1.882466e+02,2.776615e+02,3.678854e+02
ad,135005.0,3.232417e+00,2.851438,9.999545e-01,2.871449e+00,3.173075e+00,3.471863e+00,7.461691e+02
n,135005.0,2.188824e-01,0.055721,1.351112e-04,1.810294e-01,2.155590e-01,2.430015e-01,1.988951e+00
tp,135005.0,2.458909e+06,814.517810,2.425254e+06,2.458574e+06,2.459009e+06,2.459409e+06,2.465757e+06
tp_cal,135005.0,2.019723e+07,22533.774976,1.928011e+07,2.019033e+07,2.020061e+07,2.021071e+07,2.038113e+07
per,135005.0,1.788134e+03,9005.508884,1.809999e+02,1.481473e+03,1.670077e+03,1.988627e+03,2.664472e+06
per_y,135005.0,4.895644e+00,24.655740,4.955508e-01,4.056051e+00,4.572421e+00,5.444563e+00,7.294926e+03
moid,135005.0,1.424763e+00,0.512563,2.655650e-05,1.086420e+00,1.389580e+00,1.702570e+00,3.936030e+01
moid_ld,135005.0,5.544750e+02,199.474025,1.033499e-02,4.228021e+02,5.407828e+02,6.625892e+02,1.531785e+04
sigma_e,135005.0,1.774062e-01,2.663777,4.819000e-12,4.035600e-08,4.991300e-08,6.708800e-08,3.123700e+02
sigma_a,135005.0,8.146620e-01,10.966316,1.032800e-11,1.336400e-08,2.094500e-08,3.463800e-08,1.068200e+03
sigma_q,135005.0,7.567769e-01,12.060696,1.956900e-11,1.097300e-07,1.429100e-07,2.003000e-07,1.713600e+03
sigma_i,135005.0,8.212816e-01,14.440289,4.608900e-09,4.586500e-06,5.666800e-06,7.514500e-06,1.614600e+03
sigma_om,135005.0,5.519854e+00,71.780379,6.168800e-08,2.283300e-05,3.537300e-05,6.523500e-05,5.894300e+03
sigma_w,135005.0,1.477222e+02,3795.712652,6.624800e-08,3.485500e-05,5.215900e-05,8.874500e-05,9.499000e+05
sigma_ma,135005.0,1.480179e+02,3820.872884,7.820700e-09,1.659600e-05,2.482800e-05,4.325600e-05,9.498700e+05
sigma_ad,135005.0,9.269926e-01,12.628853,1.111300e-11,1.534100e-08,2.382700e-08,3.924200e-08,1.398900e+03
sigma_n,135005.0,1.169708e-01,1.506714,1.196500e-12,1.731800e-09,2.289300e-09,3.388100e-09,1.312600e+02
sigma_tp,135005.0,5.464993e+02,16323.171600,3.782900e-08,7.330500e-05,1.182400e-04,2.198900e-04,4.222500e+06
sigma_per,135005.0,7.222504e+02,9941.773862,9.415900e-09,1.181000e-05,1.938800e-05,3.290900e-05,1.034600e+06
rms,135005.0,5.440463e-01,0.072147,5.441400e-02,5.090600e-01,5.441200e-01,5.790400e-01,7.725100e+00

There are now only missing values for H which represents absolute magnitude as this represents around 5% of the remaining sample these values can be dropped or imputed without distorting the dataset substantially.

First let us examine the distribution of pha (Potentially hazard asteroids) and neo (near earth objects).

In [25]:
#pha and neo distributions remain unchanged
df_clean["pha"].value_counts(), df_clean["neo"].value_counts()

(pha
 N    134824
 Y       181
 Name: count, dtype: int64,
 neo
 N    134265
 Y       740
 Name: count, dtype: int64)

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
# import os
# try:
#   # create your folder here
#   # os.makedirs(name='')
# except Exception as e:
#   print(e)